

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Clicker+Script&family=Great+Vibes&family=Roboto&display=swap');
:root{
    --bg-color:linear-gradient(to right, #8e2de2, #4a00e0);
    --text-color:white;
    --box-bg-color:#0C0B2B;
    --box-dark-color-bg:#152B7A;
    --white-color: white;
}

*{
    font-family: 'Vazir',sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    flex-direction: column;
    /* border: 1px solid white; */
    width: 55vw;
    margin: auto;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1.2rem;
    overflow: hidden;
}
p{
    padding: 1.5rem 0;
}
.boxes{
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
}
.box{
    /* border: 1px solid white; */
    width: 30%;
    height: 100%;
    background-color: var(--box-bg-color);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: currentColor;
}
.box:hover{
background-color: var(--white-color);
color: var(--box-dark-color-bg);
}

.boxDark{
    width: 30%;
    height: 100%;
    background-color: var(--white-color);
    color: var(--box-dark-color-bg);
    border-radius: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxDark:hover{
    background-color: var(--box-dark-color-bg);
    color: var(--white-color);
}

.boxDark:hover.svg{
    background-color: var(--white-color);
    color: var(--white-color);
}


.boxDark svg{
    
    height: 100px;
    margin: 1rem 0rem;

}
.boxDark-text{
    color: currentColor;
}

.boxDark svg path{
    fill: currentcolor;
  }

.box svg{
    
    height: 100px;
    margin: 1rem 0rem;
}
.boxTextDark{
    color: currentColor;
}
.boxTextLight{
    color: currentColor;;
}
.box svg path{
    fill: currentcolor;
  }




@media screen and (max-width: 1250px) {
.container{
    width: 100vw;
}

  }
  @media screen and (max-width: 550px){
    .boxes{
        top: -7rem;
        flex-direction: column;
        position: relative;
        margin: 8rem 0;
        width: 90vw;
        height: 55vh;
    }
    .box{
        height: 100%;
        background-color: var(--box-bg-color);
        border-radius: 10px;
        transition: all 0.2s ease-in;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 90vw;
        margin: 0.6rem 0rem;
    }
    .boxDark{
        height: 100%;
        background-color: var(--white-color);
        color: var(--box-dark-color-bg);
        border-radius: 10px;
        transition: all 0.2s ease-in;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: left;
        flex-direction: row;
        width: 90vw;
        margin: 0.6rem 0rem;
    }
    .box-text{
     
        
        top: 0px;
    }
    .container{
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    flex-direction: column;
    /* border: 1px solid white; */
    width: 90vw;
    margin: 4rem auto;
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
    overflow: hidden;
    }


  }
